<div class="section-services">
    <div class="container-services">
        <div class="row g-3">
            <div class="col-6 col-md-3">
                <div class="d-flex align-items-start gap-3">
                    <div>
                        <i class="fa-solid fa-rocket" style="font-size: 60px; color: #b61f42"></i>
                    </div>
                    <div class="text">
                        <h3>Quick Setup</h3>
                        <p>Set up your e-commerce store in seconds. Upload your arts, add products, and sell.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="d-flex align-items-start gap-3">
                    <div>
                        <i class="fa-solid fa-palette" style="font-size: 60px; color: #cbdd2f"></i>
                    </div>
                    <div class="text">
                        <h3>Free Mock-Up Generator</h3>
                        <p>No Designer skills needed. Perfect for anyone that wants to create products effortlessly.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="d-flex align-items-start gap-3">
                    <div>
                        <i class="fa-solid fa-shield-halved" style="font-size: 60px; color: #0385b6;"></i>
                    </div>
                    <div class="text">
                        <h3>Risk-Free</h3>
                        <p>Totally free to use. No minimum orders, no leftover stock. On-demand production.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="d-flex align-items-start gap-3">
                    <div>
                        <i class="fa-solid fa-headset" style="font-size: 60px; color: #f26629;"></i>
                    </div>
                    <div class="text">
                        <h3>24/7 Support</h3>
                        <p>Constant support for your business. Access our team anytime, anywhere.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>