.navbar{
    background-color: rgba(69, 69, 69, 0) !important;
}

.container-nav{
    max-width: 90%;
    margin: auto;
}

.nav-link:hover{
    transform: scale(1.2);
}


@media (max-width: 570px) {
.container-fluid{
    justify-content: center !important;
}

}

@media (max-width: 992px) {
    .nav-social-media{
        display: none;
    }
    
}