<div class="image-bg" style="position: relative; z-index: 1;">
    <div class="opacity-layer pt-3 d-flex flex-column" style="position: relative; z-index: 2;">
        <app-navegator style="position: relative; z-index: 3;"></app-navegator>
        <div class="height-container container mb-4 mt-5 bg-light-trans p-5 align-items-center">
            <div class="d-flex gap-2 flex-column align-items-center">
                <img src="assets/images/check.png" class="mb-4" width="130px" alt="check">
                <img src="assets/images/thanks.png" alt="thanks_image">
                <h1 class="text-center text-light ">We have received your subscription request !</h1>
                <p class="text-light fs-4">Remember to visit our social networks to keep up to date with our news.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button routerLink="/home" type="button" class="btn-lets btn-lg px-4 me-md-2">Go home</button>
                </div>
            </div>
        </div>
        <app-services></app-services>
    </div>
</div>